<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SeleniumPageFactoryExample">
    <suite-files>
       <suite-file path="suite-files/suiteA-Firefox.xml"/>
        <suite-file path="suite-files/suiteA-Chrome.xml"/>
        <!--<suite-file path="suite-files/suiteB-Firefox.xml"/>
        <suite-file path="suite-files/suiteB-Chrome.xml"/> -->
    </suite-files>

</suite>